.project-link,
.form-submit {
  display: inline-block;
  padding: 8px 20px;
  margin: 0;
  border: 1px solid $DETAIL-ORANGE;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: $DETAIL-ORANGE;
  color: $WHITE;

  &:hover {
    background-color: $WHITE;
    color: $PRIMARY-TEXT-COLOR;
  }

  &.alternative {
    border: 1px solid $DETAIL-ORANGE;
    background-color: $WHITE;
    color: $PRIMARY-TEXT-COLOR;

    &:hover {
      background-color: $DETAIL-ORANGE;
      color: $WHITE;
    }
  }
}
