/// Mixin to define @font-face.
/// This mixin defines all font types and ads fixes for IE and a Chrome for Windows rendering problem.
/// @author [http://codepen.io/javasteve99/pen/hDxpn?editors=110](http://codepen.io/javasteve99/pen/hDxpn?editors=110)
/// @param {font family} $font-family
/// @param {source} $file-path - Font's path
/// @param {font weight} $font-weight
/// @param {font style} $font-style
/// @example scss - Usage
///   @include font-face(Alef-Regular, '../font/Alef-Webfont/Alef-Regular', 300, normal);
///
///   @mixin Alef-Regular {
///     font-family: 'Alef-Regular';
///   }
///
///   .test-font1 {
///     @include Alef-Regular;
///     font-size: 100%;
///     line-height: 1.4;
///   }
/// @example css - CSS Output
///   @font-face {
///     font-family: Alef-Regular;
///     src: url("../font/Alef-Webfont/Alef-Regular.eot");
///     src: url("../font/Alef-Webfont/Alef-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Alef-Webfont/Alef-Regular.woff") format("woff"), url("../font/Alef-Webfont/Alef-Regular.ttf") format("truetype"), url("../font/Alef-Webfont/Alef-Regular.svg#Alef-Regular") format("svg");
///     font-weight: 300;
///     font-style: normal;
///   }
///
///   @media screen and (-webkit-min-device-pixel-ratio: 0) {
///     @font-face {
///       font-family: Alef-Regular;
///       src: url("../font/Alef-Webfont/Alef-Regular.svg#Alef-Regular") format("svg");
///     }
///   }
///
///   .test-font1 {
///     font-family: 'Alef-Regular';
///     font-size: 100%;
///     line-height: 1.4;
///   }


@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  /// Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}