/// Transform
///
/// example scss - Usage
///   @include transform(rotate, 80);
///
/// example css - Usage
///   .element {
///     transform: rotate (80deg);
///   }

@mixin transform($type, $values...) {
  $n: length($values);
  $i: 1;

  $originVal: ();

  @while $i <= $n {
    $itemVal: (nth($values, $i));
    @if $type == "rotate" or $type == "rotateY" or $type == "rotateX" {
      $originVal: append($originVal, $itemVal + deg);
    } @else {
      $originVal: append($originVal, $itemVal + px);
    }

    $i: $i + 1;
  }
  -webkit-transform: unquote("#{$type}#{$originVal}");
     -moz-transform: unquote("#{$type}#{$originVal}");
          transform: unquote("#{$type}#{$originVal}");
}