.hex-grid {
  overflow:hidden;
  width:100%;
  max-width: 1200px;
  margin:0 auto;
  padding: 0;
  text-align: center;

  * {
    margin:0;
    padding:0;
  }

  .hex-item {
    position:relative;
    list-style-type:none;
    width:27.85714285714286%; /* = (100-2.5) / 3.5 */
    padding-bottom: 32.16760145166612%; /* =  width /0.866 */
    float:left;
    overflow:hidden;
    visibility:hidden;
   
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);

    &:nth-child(3n+2) {
      margin:0 1%;
    }
    &:nth-child(6n+4) {
      margin-left:0.5%;
    }
    &:nth-child(6n+4),
    &:nth-child(6n+5),
    &:nth-child(6n+6) {
      margin-top: -6.9285714285%;
      margin-bottom: -6.9285714285%;
      
      -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
      -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
      transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    &:nth-child(6n+4):last-child,
    &:nth-child(6n+5):last-child,
    &:nth-child(6n+6):last-child {
      margin-bottom:0%;
    }
    * {
      position:absolute;
      visibility:visible;
    }

    > div {
      width:100%;
      height:100%;
      text-align:center;
      color: $WHITE;
      overflow:hidden;

      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 43px;
        background: transparent url(/imgs/icon-eye-projects.png) 0 0 no-repeat;
        background-size: cover;
        z-index: 100;
      }
      
      -webkit-transform: skewY(-30deg) rotate(60deg);
      -ms-transform: skewY(-30deg) rotate(60deg);
      transform: skewY(-30deg) rotate(60deg);
      
      -webkit-backface-visibility:hidden;
    }

    /* HEX CONTENT */
    .hex-content {
      left:-100%; right:-100%;
      width: auto; height:100%;
      margin:0 auto;   
    }
  }

  div {
    .hex-title,
    .hex-description {
      width:100%;
      height: 140px;
      min-height: 140px;
      padding:0 5%;
      // background-color: rgba(tint($DETAIL-CYAN, 80%), 0.8);
      font-size: 10px;
      font-weight: 400;  // 100 / 300 / 400 / 600 
      text-transform: uppercase;
      line-height: 130%;
      color: $BLACK;

      will-change: top, bottom, padding;
      -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
      -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
      transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    
      &.is-white { background-color: rgba(tint($WHITE, 80%), 0.2); }
      &.is-blue { background-color: rgba(tint($DETAIL-CYAN, 80%), 0.2); }
      &.is-pink { background-color: rgba(tint(red, 80%), 0.2); }

      &.white-text { color: $WHITE; }
      &.dark-text { color: $PRIMARY-TEXT-COLOR; }

      &.is-little-text { font-size: 14px; }
      &.is-long-text { font-size: 8px; }

      @include mq($from: tablet) {
        font-size: 12px;
        &.is-little-text { font-size: 16px; }
        &.is-long-text { font-size: 10px; }
      }

      @include mq($from: desktop) {
        font-size: 16px;
        &.is-little-text { font-size: 20px; }
        &.is-long-text { font-size: 12px; }
      }
    }

    /* HOVER EFFECT  */
    &:hover {

      .hex-title {
        bottom:50%;
        padding-bottom:5%;
      }

      .hex-description {
        top:55%;
        padding-top:0;
      }
    }
  }

  .hex-item {
    font-weight: 300;

    .hex-title {
      bottom:110%;
      font-style:italic;
      font-weight:normal;
      font-size:1.5em;
      padding-top:100%;
      padding-bottom:100%;

      &:after {
        content:'';
        display:block;
        position:absolute;
        bottom:-1px; left:45%;
        width:10%;
        text-align:center;
        z-index:1;
        border-bottom:2px solid $WHITE;
      }

    }

    .hex-description {
      padding-top:50%;
      top:110%;
      padding-bottom:50%;
    }
  }

  &:after {
    content:"";
    display:block;
    clear:both;
  }
}