.person {
  position: relative;
  margin: 30px 20px;
  min-width: 300px;
  font-size: $H3-SIZE;

  &-text-layout {
    position: absolute;
    bottom: -15px;
    left: 120px;
  }

  &-name {
    margin: 0 0 .5rem 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3rem;
    text-shadow: 1px 1px 1px $DETAIL-CYAN;
  }
  &-position {
    font-size: 16px;
    font-weight: 300;
  }
  &-email {
    display: inline-block;
    color: $BLACK;
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    line-height: 14px;
    border-bottom: 1px solid $DETAIL-GREY;
    
    &:hover {
      border-bottom: 1px solid $DETAIL-CYAN;
    }
  }
}