.section-title {
  display: block;
  position: relative;
  max-width: 1300px;
  margin: 0 auto 20px;
  color: $BLACK;
  text-align:center;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;

  &:before {
    content: '';
    display: block;
    position: relative;
    width: 100px;
    height: 4px;
    margin: 0 auto 15px;
    padding: 4px;
    background-color: $DETAIL-CYAN;
  }

  @include mq($from: tablet) {
    margin: 0 auto 40px;
    font-size: 36px;
    line-height: 1.2;
  }

  @include mq($from: desktop) {
    margin: 0 auto 50px;
    font-size: 46px;
  }

  @include mq($from: wide) {
    font-size: 50px;
  }
}
