.social-links {
  @include clearfix();

  a {
    color: currentColor;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 30px;
    font-size: 0;
    text-decoration: none;
  }

  .social-icon {
    display:inline-block;
    float: left;
    width: 35px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-image: url('/imgs/ico-social.png');
    background-position: 0 0;
    background-repeat: no-repeat;

    &.instagram {
      background-position: 0 0;
      &:hover {
        background-position: 0 -31px;
      }
    }
    &.facebook {
      background-position: -37px 0;
      &:hover {
        background-position: -37px -31px;
      }
    }
    &.wk {
      background-position: -73px 0;
      &:hover {
        background-position: -73px -31px;
      }
    }
    &.youtube {
      background-position: -73px 0;
      &:hover {
        background-position: -73px -31px;
      }
    }
  }

  &.inverse {
    .social-icon {
      background-position: 0 -31px;

      &.instagram {
        background-position: 0 -31px;
        &:hover {
          background-position: 0 0;
        }
      }
      &.facebook {
        background-position: -37px -31px;
        &:hover {
          background-position: -37px 0;
        }
      }
      &.wk {
        background-position: -73px -31px;
        &:hover {
          background-position: -73px 0;
        }
      }
      &.youtube {
        background-position: -73px -31px;
        &:hover {
          background-position: -73px 0;
        }
      }
    }
  }
}
