.stripped-title {
  @include display_flex();
  @include flex_justify-content(center);
  @include flex_align-items(center);
  position: relative;
  max-width: 1300px;
  width: 100%;
  min-height: 50px;
  height: auto;
  text-align: center;
  overflow: hidden;
  
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135%;
    min-height: 50px;
    height: 100%;
    z-index: -1;
    // background: transparent url('/imgs/bkgr-titles.png') center center no-repeat;
    // background-size: contain;
    background: linear-gradient(to right bottom, $WHITE 42%, $DETAIL-CYAN 43%, $DETAIL-CYAN 56%, $WHITE 57%);
  }

  p {
    display: block;
    font-size: 32px;
    font-weight: 100;
    line-height: 130%;
    font-style: italic;
    padding: 3% 2%;

    @include mq($from: tablet) {
      font-size: 46px;
    }

    @include mq($from: desktop) {
      font-size: 60px;
    }
  }
}