.trigger-toggle {
  @include display_flex;
  @include flex_justify-content(flex-start);
  @include flex_align-items(center);
  width: 100%;
  min-height: 30px;
  font-weight: 100;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bcbec0;

  img {
    width: 25px;
    height: auto;
    margin-left: 5px;
  }
}
