.about-section3 {
  @include display_flex();
  @include flex_flex-wrap(wrap);
  @include flex_flex-direction(row);
  @include flex_justify-content(center);
  padding: 0 10px 20px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 0 50px 30px;
  }

  .person {
    position: relative;

    @include mq($from: tablet) {
      @include flex_flex(0 0 30%);
      margin: 20px;
    }
  }

}
