.event-data {
  display: table;
  min-width: 320px;
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  list-style: none;

  li {
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid rgba($DETAIL-GREY, 0.3);

    .title {
      display: block;
      font-size: 14px;
      font-weight: 300;
      color: rgb(80, 81, 84);
    }

    .item {
      font-size: 17px;
      font-weight: 400;
    }

    .is-highlighted {
      color: $RED-HIGHLIGHT;
    }
    @include mq($from: tablet) {
      .item,
      .title {
        display: table-cell;
      }

      .title {
        width: 360px;
        margin-right: 60px;
      }
    }
  }
}
