.home-consulting-title {
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;

}

.home-consulting-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 400;

  p {
    text-align: center;
    margin-bottom: 30px;
  }
}
