.home-section1 {
  position: relative;
  padding-bottom: 100px;

  &-image {
    display: block;
    width: 100%;
    min-height: 577px;
    background: transparent url('../imgs/hero-index.jpg') center center no-repeat;
    background-size: cover;
  }

  &-arrow {}

  &-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    @include display_flex();
    @include flex_justify-content(center);
    @include flex_align-items(center);
    margin: 0 auto;
    min-width: 460px;
    width: 60%;
    height: 200px;
    background-color: $BKGR-GREY;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      border-top: 100px solid transparent;
      border-bottom: 100px solid transparent;
    }

    &:before {
      right: 100%;
      transform: translateX(0.9px);
      border-right: 50px solid $BKGR-GREY;
    }
    &:after {
      left: 100%;
      transform: translateX(-0.9px);
      border-left: 50px solid $BKGR-GREY;
    }
  }

  &-footer-text {
    display: table;
    min-width: 455px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 100;
    white-space: nowrap;
    line-height: 120%;
    color: $DETAIL-CYAN;

    @include mq($from: tablet) {
      font-size: 40px;

      &::before, 
      &::after {
        content: '';
        display: table-cell;
        position: relative;
        top: 70px;
        width: 45%;
        border-top: 1px solid $DETAIL-CYAN;
      }
      &::before { right: 1.5%; }
      &::after { left: 1.5%; }
    }

    @include mq($from: desktop) {
      font-size: 46px;

      &:before,
      &:after {
        border-top: 1px solid $DETAIL-CYAN;
        content: '';
        display: table-cell;
        position: relative;
        top: 85px;
        width: 45%;
      }
      &:before { right: 1.5%; }
      &:after { left: 1.5%; }
    }
  }
}