.home-section2 {
  @include clearfix();
  @include display_flex();
  @include flex_flex-wrap(wrap);
  @include flex_flex-direction(column);
  @include flex_justify-content(center);
  padding: 25px 10px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 30px 50px;
  }

  &-texts {
    @include display_flex();
    @include flex_flex-wrap(wrap);
    @include flex_flex-direction(column);
    @include flex_align-items(center);
    @include flex_justify-content(center);

    @include mq($from: tablet) {
      @include flex_flex-direction(row);
    }

    .wand-detail {
      @include flex_align-self(center);
      text-align: center;
    }

    .left,
    .right {
      @include flex_flex(1 1 100%);
      margin: 1rem;

      @include mq($from: tablet) {
        @include flex_flex(0 1 40%);
      }
    }

    
  }

  &-footer {
    position: relative;
    display: table;
    white-space: nowrap;
    margin: 50px auto 0;
    padding: 35px 20px;
    // min-width: 460px;
    width: 60%;
    font-size: $H1-SIZE + 10px;
    font-weight: 100;
    text-align: center;
    border: 1px solid $DETAIL-GREY;

    @include mq($until: tablet) {
      padding: 25px 20px;
      min-width: 300px;
      width: 50%;
      font-size: $H2-SIZE;
    }

    &:before,
    &:after {
      content: '';
      display: table-cell;
      position: absolute;
      top: 0;
      width: 0%;
      height: 50px;
    }
    &:before { 
      top: -30%;
      left: 50%;
      border-right: 1px solid $DETAIL-GREY;
    }
    &:after {
      top: 75%;
      right: 50%;
      border-left: 1px solid $DETAIL-GREY;
    }
  }
}