.projects-section1 {
  @include display_flex();
  @include flex_flex-wrap(wrap);
  @include flex_flex-direction(column);
  @include flex_justify-content(center);
  padding: 0 10px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 0 30px;
  }
  @include mq($from: desktop) {
    padding: 0 50px;
  }

  // temporary
  .crossed-box {
    margin-bottom: 90px;
  }


}