.video-section {
  @include display_flex();
  @include flex_flex-direction(column);
  @include flex_justify-content(start);
  @include flex_align-items(center);
  line-height: 1.8rem;
  padding: 10px;
  margin-bottom: 30px;

  .videos {
    @include display_flex();
    @include flex_flex-wrap(wrap);
    @include flex_flex-direction(row);
    @include flex_justify-content(stretch);
    width: 100%;

    @include mq($from: tablet) {
      @include flex_justify-content(space-between);
    }
  }

  .video-container {
    @include flex_flex(1 0 90%);
    min-width: 280px;
    margin: 1rem;

    @include mq($from: tablet) {
      @include flex_flex(1 1 30%);
      min-width: 300px;
      margin: 0.5rem;
    }

    video {
      width: 100%;
      height: auto;
    }
  }
}
