html,
body {
  font-family: $BASE-FONT;
  font-size: $BASE-FONT-SIZE;
  line-height: $BASE-LINE-HEIGHT;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  padding-top: 210px;
  width: 100%;

  // border: 1px dotted grey;
}


// Pages
@import "_home.scss";
@import "_about-us.scss";
@import "_contact.scss";