html,
body {
  font-family: $BASE-FONT;
  font-size: $BASE-FONT-SIZE;
  line-height: $BASE-LINE-HEIGHT;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.home-section {
  padding: 25px 10px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 50px 20px;
  }
}

// Pages
@import "_home.scss";
@import "_about-us.scss";
@import "_contact.scss";
@import "_publications.scss";
@import "_consulting.scss";
@import "_trainings.scss";
@import "_projects.scss";
