.contact-section1 {

  @include display_flex();
  // @include flex_flex-wrap(wrap);
  @include flex_flex-direction(row);
  @include flex_justify-content(space-between);
  padding: 25px 10px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 30px 50px;
  }

  a {
    color: $BLACK;
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 1px solid $DETAIL-GREY;
  }

  .contact-text {
    @include flex_flex(1 0 200px);
    margin-left: 1rem;
    margin-right: 0;
    font-size: $H4-SIZE;
    font-weight: 300;
    line-height: 1.5rem;
    order: 2;
  }

  .contact-map {
    @include flex_flex(1 1 auto);
    order: 1;

    img {
      width: 100%;
    }
  }

  @include mq($from: tablet) {
    @include flex_justify-content(center);
    .contact-text { 
      margin-left: 0;
      margin-right: 1rem;
      order: 1;
      z-index: map-get($Z-LAYERS, default);
    }
    .contact-map { order: 2; }
  }
}