.consulting-bullet {
  position: relative;
  display: block;
  background-color: #EFEFEF;
  min-height: 330px;
  margin-top: 140px;

  @include mq($from: tablet) {
    min-height: 330px;
    margin-top: 125px;
  }

  &-picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%);

    @include mq($from: tablet) {
      left: 0;
      transform: translate(-25%, -20%);
    }

    img {
      max-width: 250px;

      @include mq($from: tablet) {
        max-width: 450px;
      }
    }
  }

  &-info {
    position: relative;
    padding: 190px 30px 20px 30px;

    @include mq($from: tablet) {
      margin-left: 350px;
      padding: 30px;
    }

    @include mq($from: desktop) {
      margin-left: 400px;
    }

    @include mq($from: wide) {
      margin-left: 500px;
    }
  }

  .text {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.2rem;
    max-width: 450px;

    .project-link {
      margin: 0 5px 12px 0;
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 16px;

      @include mq($from: tablet) {
        margin: 0 8px 12px 0;
        padding: 8px 20px;
        font-size: 14px;
      }
    }

    p {
      margin-bottom: 10px;

      &.highlighted {
        font-weight: 600;
      }
    }
    ul {
      list-style: none;
      margin-bottom: 10px;

      li {
        padding-left: 20px;
        margin-bottom: 0.5rem;
      }
    }
  }


}
