.consulting-section1 {
  @include display_flex();
  @include flex_flex-wrap(wrap);
  @include flex_flex-direction(column);
  @include flex_justify-content(center);
  padding: 25px 10px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 30px 50px;
  }

  .category {
    position: relative;

    .category-name {
      position: absolute;
      top: 20px;
      left: 290px;
      margin: 0;
      padding: 0;
      font-size: 29px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .category-image {
      float: left;
      margin-right: 60px;
    }
    .category-description {
      padding-top: 160px;
      font-weight: 300;
    }
    .category-list {
      font-weight: 300;
      
      li {
        margin-left: 20px;
      }
    }

  }
}