.footer-carrusel {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  .carr-item {
    width: 20%;
    /*min-width: 150px;*/
    height: 65px;
    vertical-align: middle;
    text-align: center;

    img {
      margin: 0 auto;
      max-width: 150px;
    }
  }
}

.footer {
  @include display_flex();
  @include flex_justify-content(space-between);
  @include flex_align-items(flex-start);
  padding: 20px 10px;
  font-size: $H4-SIZE;
  font-weight: 300;
  line-height: 150%;
  border-top: 1px solid $DETAIL-GREY;

  @include mq($from: tablet) {
    padding: 30px 20px 30px;
    margin-top: 10px;
  }

  &-copyright {
    @include flex_flex(0 1 180px);
    min-width: 180px;
    order: 1;

    .contact {
      display: block;
      margin: .5rem 0;
      padding: 0;

      @include mq($from: tablet) {
        display: none;
      }
    }

    .social-links {
      display: block;
      margin: .5rem 0;
      padding: 0;

      .social-icon { margin-right: -1px; }
      a { padding: 0; border-bottom: 0; }
    }
  }
  &-menu {
    @include flex_flex(0 1 auto);
    // min-width: 140px;
    margin-left: 2rem;
    text-align: right;
    order: 2;

    @include mq($from: tablet) {
      @include flex_flex(0 1 180px);
      min-width: 180px;
      text-align: left;
    }

    .footer-menu__nav {
      list-style: none;
      font-size: $H4-SIZE;

      li { margin-bottom: 2px;}
    }
  }
  &-logos {
    @include flex_flex(1 1 450px);
    display: none;
    order: 3;
    margin: 0 30px;
    max-width: 425px;
    width: auto;
    text-align: center;

    @include mq($from: tablet) {
      display: block;
    }
    @include mq($from: desktop) {
      margin: 0 50px;
    }

    .logo-row {
      @include display_flex();
      @include flex_flex-wrap(wrap);
      @include flex_flex_direction(row);
      @include flex_justify-content(center);
      @include flex_align-items(center);

      img {
        margin: 10px 20px 0 0;
      }
    }
  }
  &-contact {
    @include flex_flex(0 0 auto);
    display: none;
    text-align: right;
    order: 4;

    @include mq($from: tablet) {
      display: block;
      margin-left: auto;
    }
  }

}
