.footer {
  @include display_flex();
  @flex_flex-wrap(wrap);
  @include flex_justify-content(space-between);
  @include flex_align-items(flex-start);
  padding: 20px 10px 30px;
  font-size: $H4-SIZE;
  font-weight: 300;
  line-height: 150%;
  border-top: 1px solid $DETAIL-GREY;

  > * {
    margin: 0 1rem;
  }

  @include mq($from: tablet) {
    padding: 30px 20px;
  }

  &-copyright {
    @include flex_flex(0 1 180px);
    min-width: 180px;

    .social-links {
      display: block;
      margin: .5rem 0;
      padding: 0;

      .social-icon { margin-right: -1px; }
      a { padding: 0; border-bottom: 0; }
    }
  }
  &-menu {
    @include flex_flex(0 1 180);
    min-width: 180;

    .footer-menu__nav {
      list-style: none;
      font-size: $H4-SIZE;

      li { margin-bottom: 2px;}
    }
  }
  &-logos {
    @include flex_flex(0 1 450px);
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    text-align: center;

    .logo-row {
      @include display_flex();
      @include flex_flex-wrap(wrap);
      @include flex_flex_direction(row);
      @include flex_justify-content(center);
      @include flex_align-items(center);

      img:not(:last-of-type) {
        margin: 10px 20px 0 0;
      }
    }
  }
  &-contact {
    // display: none;
    @include flex_flex(0 0 auto);
  }

}