.main-header {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  & > * {
    @include display_flex();
    @include flex_align-content(space-around);
    @include flex_justify-content(center);
    @include flex_align-items(center);
    @include flex_flex-direction(row);
  }

  .main-nav {
    margin: 0 auto;
    margin-bottom: 15px;

    & > li {
      margin: 0 20px;

      a {
        color: #4a4a4a;
        padding-bottom: 3px;
        border-bottom: 1px solid $DETAIL-GREY;
      }
    }
  }

  .sub-tags {

    li {
      margin: 0 5px;
      color: $DETAIL-GREY;
    }
  }
}
