.main-header {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  & > * {
    @include display_flex();
    @include flex_align-content(space-between);
    @include flex_justify-content(center);
    @include flex_align-items(center);
    @include flex_flex-direction(row);
  }

  .main-nav {
    margin: 0 auto;
    margin-bottom: 15px;

    & > li {
      margin: 0 20px;
      @include flex_flex(1 0 130px);
      padding-bottom: 5px;
      border-bottom: 1px solid $DETAIL-GREY;

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $BLACK;
        padding-bottom: 3px;
        font-weight: 100;
      }
    }

    li:nth-child(n+5) {
      text-align: right;
    }

    li:hover {
      border-bottom: 1px solid $DETAIL-CYAN;
    }

    .logo {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  .sub-tags {

    li {
      margin: 0 5px;
      font-weight: 100;
      color: $PRIMARY-TEXT-COLOR;
    }
  }
}
