.hex-content {
  @include display_flex();
  @include flex_flex-direction(column);
  @include flex_justify-content(start);
  position: relative;
  margin-bottom: 10px;

  .hex-content-left {
    @include flex_flex(1 1 100%);
    position: relative;
  }
  .hex-content-right {
    @include flex_flex(1 1 100%);
    max-width: 860px;
    position: relative;
  }

  @include mq($from: tablet) {
    @include flex_flex-direction(row);
    margin-bottom: 20px;

    .hex-content-left {
      @include flex_flex(0 1 360px);
    }
    .hex-content-right {
      @include flex_flex(1 1 auto);
    }
  }

  .hex-content-image {
    min-width: 300px;
    max-width: 330px;
    width: 100%;
    margin: 0 auto;

    img {
      width: 100%;
    }
    @include mq($from:tablet) {
      margin: null;
      margin-right: 60px;
    }
  }

  .hex-content-name {
    display: block;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: rgba($WHITE, 0.6);
    z-index: 10;

    @include mq($from: mobile, $until: tablet) {
      bottom: 0;
    }

    @include mq($from: tablet) {
      position: absolute;
      top: 10px;
      left: -70px;
      font-size: 22px;
    }
    @include mq($from: desktop) {
      font-size: 28px;
    }
  }

  .hex-content-client-description {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 10;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 120%;
    font-style: italic;
    color: rgba($PRIMARY-TEXT-COLOR, 0.6);

    @include mq($from: tablet) {
      display: block;
      position: absolute;
      bottom: 10px;
      left: -60px;
    }
  }

  // trick: there are two copies of the .hex-content-name
  @include mq($until: tablet) {
    .hex-content-left .hex-content-name {
      display: block;
    }
    .hex-content-right .hex-content-name {
      display: none;
    }
  }
  @include mq($from: tablet) {
    .hex-content-right .hex-content-name {
      display: block;
    }
    .hex-content-left .hex-content-name {
      display: none;
    }
  }

  .hex-content-description {
    margin-top: 1rem;
    padding: 0;
    line-height: 1.3;
    font-weight: 300;
    font-size: 14px;

    @include mq($from: tablet) {
      font-size: 14px;
    }
    @include mq($from: desktop) {
      font-size: 16px;
    }

    &:nth-of-type(2) {
      margin-top: 1rem;
      @include mq($from: tablet) {
        margin-top: 160px;
      }
    }

    &.small {
      margin-top: 1rem;
      font-size: 12px;
      line-height: 1;
      color: rgba($PRIMARY-TEXT-COLOR, 0.6);
    }
  }

  .hex-content-list {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;

    @include mq($from: tablet) {
      font-size: 14px;
    }
    @include mq($from: desktop) {
      font-size: 16px;
    }

    li {
      margin-left: 20px;
      line-height: 1.4;
    }

    &.no-bullets {
      li {
        list-style: none;
        margin-left: 0;
      }
    }
  }

  .hex-project-link {
    margin-top: 1rem;
  }

  .hex-content-paragraph {
    line-height: 1.3;
    margin-bottom: 5px;
    font-weight: 300;
  }

  .bkgr-hi {
    font-size: 16px;

    @include mq('tablet') {
      font-size: 18px;
    }

    @include mq('desktop') {
      font-size: 22px;
    }
  }

  .bkgr-hi:not(:first-of-type) {
    margin-top: 1rem;
  }

  .hex-content-list + .hex-content-description {
    @include mq($from: tablet) {
      margin-top: 1rem;
    }
  }

  & + .hex-content {
    margin-top: 30px;
  }

  .hex-content-logo {
    margin-right: 0.5rem;
    margin-top: 1rem;
  }
}
