.home-section4 {
  padding: 25px 10px;
  line-height: 1.8rem;

  @include mq($from: tablet) {
    padding: 50px 20px;
  }

  .hex-grid {
    width: 95%;

    @include mq($from: tablet) {
      width: 80%;
    }
  }

  .project {

    .project-img {}
    .project-box {
      @include display_flex();
      @include flex_justify-content(center);
      @include flex_align-items(center);
      @include flex_flex(1 1 auto);
      position: relative;
      margin: 0 auto;
      padding: 0 100px;
      min-width: 460px;
      width: 60%;
      height: 200px;
      text-align: center;
      border-bottom: 1px solid rgba($DETAIL-GREY, .4);
      background-color: $PRIMARY-TEXT-COLOR;
      color: $WHITE;

      .hexa {
        position: absolute;
        top: 0;

        .hex {
          width: 222px;
          height: 222px;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
      }

      &:before {
        right: 100%;
        transform: translateX(0.9px);
        border-right: 58px solid $PRIMARY-TEXT-COLOR;
      }
      &:after {
        left: 100%;
        transform: translateX(-0.9px);
        border-left: 58px solid $PRIMARY-TEXT-COLOR;
      }
    }

    &.is-special { 
      .project-box { background-color: $DETAIL-CYAN; color: $BKGR-GREY; }
      .project-box:before { border-right: 50px solid $DETAIL-CYAN; }
      .project-box:after { border-left: 50px solid $DETAIL-CYAN; }
    }

    &-left {
      .project-box { padding-left: 230px; }
      .project-box:before { border: none; }
      .hexa { left: -55px; }
    }
    &-right {
      .project-box { padding-right: 230px; }
      .project-box:after { border: none; }
      .hexa { left: null; right: -55px;}
    }
  }
}

.home-section4 {
  .crossed-box { margin-bottom: 50px; }
}