.section4 {

  padding: 50px 20px;

  @include mq($from: tablet) {
    padding: 50px;
  }

  h2 {
    height: 100px;
    font-size: $H1-SIZE + 10px;
    line-height: $H1-SIZE;
    background-color: $DETAIL-CYAN;
    @include angled-edge($location:'inside top',$hypotenuse:'upper left', $fill: #F00, $width: calc(100%), $height: 40);
    @include angled-edge($location:'inside bottom',$hypotenuse:'lower right', $fill: #F00, $width: calc(100%), $height: 40);
  }

  .project {
    margin-bottom: 20px;

    .project-img {}
    .project-box {
      position: relative;
      margin: 0 auto;
      min-width: 460px;
      width: 60%;
      height: 200px;
      background-color: $BKGR-GREY;

      .hexa {
        position: absolute;
        top: 0;

        .hex {
          width: 222px;
          height: 222px;
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
      }

      &:before {
        right: 100%;
        transform: translateX(0.9px);
        border-right: 50px solid $BKGR-GREY;
      }
      &:after {
        left: 100%;
        transform: translateX(-0.9px);
        border-left: 50px solid $BKGR-GREY;
      }
    }

    &.is-special { 
      .project-box { background-color: $DETAIL-CYAN; }
      .project-box:before { border-right: 50px solid $DETAIL-CYAN; }
      .project-box:after { border-left: 50px solid $DETAIL-CYAN; }
    }

    &-left {
      .project-box:before { border: none; }
      .hexa { left: -55px; }
    }
    &-right {
      .project-box:after { border: none; }
      .hexa { left: null; right: -55px;}
    }
  }
}