.section3 {

  padding: 50px 20px;

  @include mq($from: tablet) {
    padding: 50px;
  }

  h2 {
    height: 100px;
    font-size: $H1-SIZE + 10px;
    line-height: $H1-SIZE;
    background-color: $DETAIL-CYAN;
    @include angled-edge($location:'inside top',$hypotenuse:'upper left', $fill: #F00, $width: calc(100%), $height: 40);
    @include angled-edge($location:'inside bottom',$hypotenuse:'lower right', $fill: #F00, $width: calc(100%), $height: 40);  }

  .articles {
    @include display_flex();
    @include flex_justify-content(center);
    @include flex_align-items(center);
    @include flex_flex-direction(row);
    @include flex_flex-wrap(wrap);
  }
  .event-article {
    position: relative;
    display: inline-block;
    max-width: 560px;
    width: 100%;
    margin-bottom: 50px;

    @include mq($from: tablet) {
      max-width: 560px;
      // min-width: 450px;
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
    }

    .article-stripe {
      position: absolute;
      top: 48%;
      left: 0;
      width: 100%;
      height: 170px;
      background-color: rgba(0,0,0,.6);

      @include mq($from: tablet, $until: 840px) {
        top: 42%;
      }

      p {
        @include flex_align-self(flex-start);
        color: $WHITE;
        padding: 3rem 1rem;
        text-align: left;
        font-size: $H2-SIZE;
        line-height: 1.8rem;
      }
    }

    .article-dates {
      position: absolute;
      top: -3rem;
      left: 1rem;
      color: $DETAIL-CYAN;
      font-weight: 700;

      > span {
        display: block;
      }

      .month { 
        text-transform: uppercase;
        font-size: 26px;
        line-height: 30px;
      }
      .date { 
        font-size: 50px;
        line-height: 50px;
      }
    }
  }
}