.seminar-list,
.expanded-seminars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  flex: 1 0 100%;
  flex-wrap: wrap;
  width: 100%;

  .seminar-item {
    width: 50%;
    max-width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;

    @include mq($from: tablet) {
      width: 25%;
      font-size: 16px;
    }

    @include mq($from: desktop) {
      font-size: 18px;
    }

    .logo {
      width: 65%;
      max-width: 340px;
      margin-bottom: 1.5rem;

      @include mq($from: tablet) {
        width: 70%;
      }
      @include mq($from: desktop) {
        width: 80%;
      }
    }

    .title {}
    .subtitle {
      font-size: 12px;
      color: $DETAIL-ORANGE;

      @include mq($from: tablet) {
        font-size: 16px;
      }

      @include mq($from: desktop) {
        font-size: 18px;
      }
    }
    .speaker {
      margin: 1.5rem 0;
    }
    .description {
      font-weight: 400;
    }
  }
}

.expand-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 1rem;
  margin-top: 20px;
  text-align: center;
  color: $DETAIL-ORANGE;
  background-color: $WHITE;
  cursor: pointer;
  z-index: 1;

  @include mq($until: desktop) {
    display: none;
  }

  svg {
    margin-left: 1rem;
    stroke: $DETAIL-ORANGE;
  }

  span {
    background-color: white;
    padding: 0 1rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: $DETAIL-ORANGE;
    border-top: 1px solid $DETAIL-ORANGE;
    z-index: -1;
  }
}

.expanded-seminars {
  /* display: none; */
}
