.training-events {
  @include display_flex();
  @include flex_justify-content(center);
  @include flex_align-items(center);
  @include flex_flex-direction(row);
  @include flex_flex-wrap(wrap);
  
  .event-article {
    position: relative;
    display: inline-block;
    max-width: 560px;
    width: 100%;
    margin-bottom: 0;

    @include mq($from: tablet) {
      max-width: 560px;
      margin-bottom: 20px;
      width: 50%;
    }

    @include mq($from: desktop) {
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: auto;
    }

    .article-stripe {
      position: absolute;
      top: 48%;
      left: 0;
      width: 100%;
      height: 170px;
      background-color: rgba(0,0,0,.6);

      @include mq($from: tablet, $until: 840px) {
        top: 42%;
      }

      p {
        @include flex_align-self(flex-start);
        color: $WHITE;
        padding: 3rem 4rem 0 1rem;
        text-align: left;
        font-size: 19px;
        font-weight: 300;
        line-height: 1.8rem;
      }
    }

    .article-dates {
      position: absolute;
      top: -3rem;
      left: 1rem;
      color: $DETAIL-CYAN;
      font-weight: 700;

      > span {
        display: block;
      }

      .month { 
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
      }
      .date { 
        font-size: 50px;
        font-weight: 600;
        line-height: 50px;
      }
    }
  }
}